*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: lightgray;
}
.cabecalho{
    background-color: #004379;
}
.cabecalho__titulo{
    color: white;
    text-align: center;
    padding: 20px;
}

#burger{
    background-color: #0042a5;
    text-align: center;
    padding: 10px;
    display: block;
    color: white;
    cursor: pointer;
}
#burger:hover{
    background-color: rgb(207, 207, 207);
}
.cabecalho__menu{
    display: none;
}

.menu__lista{
    list-style: none;

}
.menu__link{
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px;
    background-color: #055596;
    border-top: 2px solid #3F6E94;
    text-align: center;

}
.menu__link:hover{
    background-color: #467499;
}
.conteudo{
    width: 90vw;
    background-color: aliceblue;
    margin: auto;
    margin-top: 15px;
    border-radius: 10px;
    padding: 10px;
}
.artigo__titulo{
   padding-bottom: 20px;
}
.artigo__titulo2{
    padding-bottom: 20px;
    color: #467499;
}
.artigo__texto{
    text-align: justify;
    text-indent: 20px;
    padding-bottom: 20px;
}

@media screen and (min-width: 768px){
    #burger{
        display: none;
    }
    .cabecalho__menu{
        display: block;
    }
    .menu__lista{
        display: flex;
        
    }
    .menu__lista > li{
        margin-right: 10px;
    }
    main {
        width: 768px;
    }
}